{% include "base.html" %}

{% block content %}


<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

    
    <h3>Find Out Maximum Number</h3>
    
    <div>
      <form action="{% url 'calculationPage' %}" method="POST">
        {% csrf_token %}
    
        {{ form.as_p }}
      
        <input type="submit" value="Submit">
      </form>
      {% if maximum_result is not None %}
      <p>The maximum number is: {{ maximum_result }}</p>
    {% endif %}
  
    {% if minimum_result is not None %}
      <p>The minimum number is: {{ minimum_result }}</p>
    {% endif %}
  
    {% if average_result is not None %}
      <p>The average number is: {{ average_result }}</p>
    {% endif %}
    <a href="{% url "calculationPage" %}">Clear</a>
    </div>


</body>
</html>


{% endblock content %}